@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@import './src/pages/BusTicket/bus-ticket.scss';

:root {
  --primary-color: #f16e00;
  --primary-color-dark: #334c99;
  --text-dark: #0f172a;
  --text-light: #64748b;
  --extra-light: #f1f5f9;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}






.section__header {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--text-dark);
}

.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
  background-color: var(--white);
  border-radius: 2rem;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: flex;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
  cursor: pointer;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  font-weight: 500;
  color: var(--text-light);
  transition: 0.3s;
}

.link a:hover {
  color: var(--text-dark);
}

.header__container .section__header {
  text-align: center;
  font-size: 3rem;
  line-height: 4rem;
}

.header__navbar {
  position: relative;
}

.header__navbar .shader__shape {
  background-image: url('./src/assets/svg/header-shape-1.svg');
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
  right: 0;
  z-index: -1;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(15px 0px 13px var(--primary-color)) blur(2px);
}







@media (width < 1200px) {
  .section__container.header__container,
  .section__container.plan__container,
  .section__container.lounge__container {
    overflow: hidden;
  }

  .memories__grid {
    gap: 3rem;
  }
}

@media (width < 900px) {
  nav .btn {
    display: none;
  }

  .header__container img {
    min-width: 900px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

}

@media (width < 600px) {
  .nav__links {
    display: none;
  }

}
